.date-picker {
    position: relative;
    margin: 4px;
    @include fc();
    height: calc(100% - 8px);
    &.empty {
        &:hover{
            border: 1px dashed #c5c7d0;
            cursor: pointer;
        }
    }

    .block {
        width: 100%;
        opacity: 0;
        .el-date-editor{
            width: 100%;
        }
        .el-input__inner {
            height: 35px;
        }
    }
    span {
        position: absolute;
        pointer-events: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}