@mixin fc() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin absCenter(){
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin mkIcon($content) {
    &::after {
        content: $content;
    }
    font-family: "IconFont";
    font-style: normal;
}

@mixin divToBtn(){
    cursor: pointer;
    border-radius: 4px;
    transition: background-color .2s;

    &:hover {
        background-color: $btnBg;
    }
}

@mixin absCenter(){
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}