.board-toolbar {
    display: flex;
    margin: 0 30px;
    padding: 16px 0;
    // border-top: 1px solid #d0d4e4;
    @media (max-width: 700px) {
        margin: 0 15px;
    }
    > *:not(.modal) {
        @include fc();
        @include divToBtn();
        margin-inline-end: 6px;
        line-height: 32px;
        min-width: 32px;

        .icon-container {
            height: 32px;
            width: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            .icon-down-arrow {
                font-size: 9px;
                padding-top: 4px;
            }
        }
        &.input-container {
            position: relative;
            i {
                position: absolute;
                left: 8px;
            }
            input {
                padding-inline-start: 28px;
                background: none;
                border: none;
                width: 80px;
                height: 32px;
                // margin-inline-end: 6px;
                transition: width 0.3s;
                border-radius: 4px;
                &::placeholder {
                    color: #323338;
                    font-size: 14px;
                }
                &:focus {
                    width: 200px;
                    outline: none;
                    border: 1px solid #0073ea;
                    background-color: white;
                }
            }

        }
        i.icon-x {
            font-size: 8px;
            line-height: 8px;
            padding: 3px;
            margin-right: 4px;
            margin-left: -4px;
            border-radius: 50%;
            display: none;
            transition: background-color .3s;
            &:hover {
                background-color: #323338;
                color: white;
            }
            
        }
        
        &.selected {
            &.selected {
                background-color: $btnSelected;
            }
            i.icon-x {
                display: inline-block;
            }
        }

        span {
            padding-inline-end: 12px;
        }

        @media (max-width: 600px) {
            span:not(.btn-span) {
                display: none;
            }
        }
    }

    .new-item-btn {
        background-color: #0073ea;
        color: white;
        border: none;
        font-weight: 400;
        padding: 0 4px 0 0;
        margin-inline-end: 14px;

        &:hover {
            background-color: #0060b9;
            i {
                border-inline-start: 1px solid #0073ea;
            }
        }

        span {
            padding: 0 8px;
        }
        i {
            font-size: 10px;
            padding: 0 4px 0 8px;
            border-inline-start: 1px solid #0060b9;
        }
    }
}
