.board-header {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding: 16px 30px 0;
    font-size: 14px;
    min-height: 60px;
    @media (max-width:700px) {
        padding: 16px 15px 0;        
    }
    .title-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        i {
            @include divToBtn();
            font-size: 16px;
            color: #676879;
            padding: 8px;
            width: 32px;
        }

        .board-title {
            cursor:text;
            font-size: 24px;
            font-weight: 500;
            line-height: 40px;
            margin-inline-end: 4px;
            margin-inline-start: 0;
            padding: 0 4px;
            @media (max-width:700px) {
                font-size: 18px;
            }

        }

    }
    .header-btns {
        @include fc();
        > div {
            @include fc();
            padding: 4px 8px;
            line-height: 24px;
            margin: 0 4px;
            > :nth-child(1) {
                padding-inline-end: 8px;
            }

            @media (max-width:700px) {
                span, &:first-child{
                    display: none !important
                }

                padding-inline-end: 0;
            }

        }

        button {
            margin: 0 16px;
            padding: 4px 8px;
            background: none;
            border: 1px solid #c5c7d0;
            color: #323338;
            border-radius: 4px;
            line-height: 23px;
            font-size: 1em;
            font-family: Roboto;
        }

        > * {
            @include divToBtn();
        }
    }
}

.board-desc {
    transition: height .3s;
    height: 23px;
    margin: 1px 34px;
    color: #676879;
    font-size: 14px;
    border: 1px solid transparent;
    min-height: 19px;
    line-height: 1.5;
    border-bottom: 1px solid #d0d4e4;
    &:hover {
        border: 1px dashed #c5c7d0;
    }

    &:focus{
        height: 3rem
    }

    @media (max-width:700px) {
        margin: 1px 19px;
        
    }
}
