.task-list {
    .task-preview {
        height: 34px;
        border-bottom: 1px solid white;
        color: #666;
        display: flex;
        line-height: 34px;
        text-align: center;
        transition: background-color 0.2s;
        background-color: #f5f6f8;
        
        &:hover {
            background-color: $btnBg;
        }
        
        .task-title {
            min-width: 400px;
            text-align: left;
            display: flex;
            position: sticky;
            left:22px;
            z-index: 1;
            background-color: #f5f6f8;
            .left-border {
                width: 8px;
                margin-right: 10px;
                margin-left: -2px;
            }
            span {
                padding: 0 16px 0 0;
                border: 1px solid transparent;
                border-radius: 4px;
                &:hover {
                    border: 1px solid #c5c7d0;
                }
                &:focus {
                    outline: 1px solid #0085ff;
                }
            }

            @media (max-width: 1300px) {
                min-width: 300px;
                width: 300px;
                text-overflow: ellipsis;
            }
            @media (max-width: 1200px) {
                min-width: 200px;
                width: 200px;
                text-overflow: ellipsis;
            }
        }
        .info-container {
            display: flex;
        }
        .task-info {
            // &:nth-child(2){
            //     margin-inline-start: 400px;
            // }
            border-left: 1px solid white;
            background-color: #f5f6f8;
            &.task-end {
                flex: 1;
                min-width: 38px;
                border-right: 8px solid #d0d4e4;
            }
        }
    }
}
