.workspace-navbar {
    min-width: 29px;
    background-color: #f5f6f8;
    border-right: 1px solid #d0d4e4;
    position: relative;
    transition: min-width 0.2s;
    .collapse-btn {
        @include fc();
        cursor: pointer;
        width: 26px;
        height: 26px;
        border: 1px solid #d0d4e4;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        top: 20px;
        right: -13px;
        i {
            line-height: 26px;
            font-size: 12px;
        }
    }

    .input-container {
        position: relative;
        i {
            position: absolute;
            left: 2px;
        }
        input {
            padding-inline-start: 28px;
            background: none;
            border: none;
            width: 221px;
            height: 32px;
            // margin-inline-end: 6px;
            transition: width 0.3s;
            border-radius: 4px;
            &::placeholder {
                color: #323338;
                font-size: 14px;
            }
            &:focus {
                width: 221px;
                outline: none;
                border: 1px solid #0073ea;
                background-color: white;
            }
        }
    }

    &.open {
        padding: 16px;
        min-width: 254px;
    }

    .workspace-name {
        padding: 6px;
        border: 1px solid black;
        border-radius: 4px;
    }

    .navbar-btns {
        padding: 16px 0;
        border-bottom: 1px solid #d0d4e4;
        > div {
            @include divToBtn();
            display: flex;
            line-height: 32px;
            
            i {
                padding-left: 6px;
                width: 19px;

                &.icon-plus {
                    padding-left: 12px;
                    margin-right: 9px;
                }
            }
            
        }
    }
    .board-btns {
        padding: 16px 0;
        .board-btn {
            @include divToBtn();
            padding:0 6px;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            line-height: 31px;
            > div {
                @include fc();
                span {
                    max-width: 170px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            img {
                margin-right: 4px;
            }
            &.selected {
                background-color: $btnSelected;
            }
            i {
                display: none;
                margin-bottom: -12px;
                padding: unset;
                cursor: pointer;
            }
            &:hover {
                i {
                    display: block;
                }
            }
        }
    }
}
